<%= render 'shared/header' %>

<div class='main-content'>
  <div class='shop-detail'>
    <div class='name'>
      <span>
        新規投稿
      </span>
    </div>
    <div class='post-message'>
      <p>全ての項目を入力して下さい</p>
      <p>写真の投稿は任意です</p>
    </div>
    <div class='form-area'>
      <%= form_with model: @shop, url: shops_path, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>

        <div class='select-genre'>
          <div class='form-title'>
            <label class='' for='selected_genre'>ジャンル</label>
          </div>
          <div class='genre-pulldown'>
            <select id="selected_genre">
              <option value="">ジャンルを選択してください</option>
              <% @genre_ids.each do |genre_id| %>
                <% Genre.where(id: genre_id).each do |genre| %>
                  <option value=<%= genre.id %>><%= genre.genre_name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>
        <div class='genre-alert-message'>
          <p>選択肢にないジャンルを投稿する場合は、</p>
          <p><%= link_to 'こちら', new_point_path, class: 'new-genre-btn' %>から設定してください</p>
        </div>

        <div class='shop-name-form'>
          <div class='form-title'>
            <%= f.label :shop_name, "店舗名" %>
          </div>
          <div>
            <%= f.text_field :shop_name %>
          </div>
        </div>
        <div class='address-form'>
          <div class='form-title'>
            <%= f.label :address, "住所" %>
          </div>
          <div>
            <%= f.text_field :address %>
          </div>
        </div>

        <%= f.hidden_field :genre_id, id: :genre_id, value: "" %>
        <%= f.hidden_field :point_id, id: :point_id, value: "" %>

        <div class='star-form'>
          <div class='form-title'>
            <%= f.label :rate1, "Point1", class:'col-md-3 col_form_label', id: :point1 %>
          </div>
          <div class="form-group row" id="star1">
            <%= f.hidden_field :rate1, id: :review_star %>
          </div>
          <!-- 評価javascript -->
          <script>
          $('#star1').raty({
            size     : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'shop[rate1]',
            half: true,
          });
          </script>
        </div>

        <div class='star-form'>
          <div class='form-title'>
            <%= f.label :rate2, "Point2", class:'col-md-3 col_form_label', id: :point2 %>
          </div>
          <div class="form-group row" id="star2">
            <%= f.hidden_field :rate2, id: :review_star %>
          </div>
          <!-- 評価javascript -->
          <script>
          $('#star2').raty({
            size     : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'shop[rate2]',
            half: true,
          });
          </script>
        </div>

        <div class='star-form'>
          <div class='form-title'>
            <%= f.label :rate3, "Point3", class:'col-md-3 col_form_label', id: :point3 %>
          </div>
          <div class="form-group row" id="star3">
            <%= f.hidden_field :rate3, id: :review_star %>
          </div>
          <!-- 評価javascript -->
          <script>
          $('#star3').raty({
            size     : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'shop[rate3]',
            half: true,
          });
          </script>
        </div>

        <div class='star-form'>
          <div class='form-title'>
            <%= f.label :total_rate, "総合評価", class:'col-md-3 col_form_label' %>
          </div>
          <div class="form-group row" id="total-star">
            <%= f.hidden_field :total_rate, id: :review_star %>
          </div>
          <!-- 評価javascript -->
          <script>
          $('#total-star').raty({
            size     : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'shop[total_rate]',
            half: true,
          });
          </script>
        </div>

        <div class='text-form'>
          <div class='form-title'>
            <%= f.label :text, "評価コメント" %>
          </div>
          <div>
            <%= f.text_area :text %>
          </div>
        </div>

        <div class='image-form'>
          <div class='form-title'>
            <span>写真</span>
          </div>
          <div>
            <%= f.file_field :image, class: 'hidden' %>
          </div>
        </div>
        <div class="submit-post">
          <%= f.submit "投稿", class: "submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
