<%= render 'shared/header' %>

<div class='main-content'>
  <div class='shop-detail'>
    <div class='name'>
      <span>
        <%= @shop.shop_name %>
      </span>
    </div>
    <div class='genre'>
      <span>
        （ジャンル：<%= @shop.genre.genre_name %>）
      </span>
    </div>
    <div class='pic'>
      <% if @shop.image.attached? %>
        <%= image_tag @shop.image.variant(resize: '250x250') %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: '150x150' %>
      <% end %>
    </div>
    <div class='shop-nickname'>
      <span>
        <%= @shop.user.nickname %>さんの評価
      </span>
    </div>
    <div class='rate1-3'>
      <div class='point'>
        <span>
          <%= @shop.point.point1 %>：
        </span>
      </div>
      <div class='point-star'>
        <span id="star-rate1">
        </span>
        <script>
          $('#star-rate1').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @shop.rate1 %>,
          });
        </script>
      </div>
    </div>
    <div class='rate1-3'>
      <div class='point'>
        <span>
          <%= @shop.point.point2 %>：
        </span>
      </div>
      <div class='point-star'>
        <span id="star-rate2">
        </span>
        <script>
          $('#star-rate2').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @shop.rate2 %>,
          });
        </script>
      </div>
    </div>
    <div class='rate1-3'>
      <div class='point'>
        <span>
          <%= @shop.point.point3 %>：
        </span>
      </div>
      <div class='point-star'>
        <span id="star-rate3">
        </span>
        <script>
          $('#star-rate3').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @shop.rate3 %>,
          });
        </script>
      </div>
    </div>
    <div class='total-rate'>
      <div class='total'>
        <span>
          総合：
        </span>
      </div>
      <div class='total-star'>
        <span id="star-total-rate">
        </span>
        <script>
          $('#star-total-rate').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @shop.total_rate %>,
          });
        </script>
      </div>
    </div>
    <div class='text-area'>
      <div class='text-nickname'>
        <span>
          <%= @shop.user.nickname %>さんの評価コメント
        </span>
      </div>
      <div class='text'>
        <%= @shop.text %>
      </div>
    </div>
    <div id="map"></div>
    <div class='post-area'>
      <% if user_signed_in? && current_user.id == @shop.user_id %>
        <div class='post-buttons'>
          <%= link_to '編集', edit_shop_path(@shop.id), class: 'post-button' %>
        </div>
        <div class='post-buttons'>
          <%= link_to '削除', shop_path(@shop.id), method: :delete, data: { confirm: '削除しますか？' }, class: 'post-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var map;
  var service;
  var infowindow;

  function initMap() {
    var shopAddress = new google.maps.LatLng(<%= @shop.latitude %>, <%= @shop.longitude %>);

    infowindow = new google.maps.InfoWindow();

    map = new google.maps.Map(
        document.getElementById('map'), {center: shopAddress, zoom: 15});

    var request = {
      query: '<%= @shop.address %><%= @shop.shop_name %>',
      fields: ['geometry', 'name', 'formatted_address', 'place_id'],
    };

    var service = new google.maps.places.PlacesService(map);

    service.findPlaceFromQuery(request, function(results, status) {
      if (
        status === google.maps.places.PlacesServiceStatus.OK &&
        results &&
        results[0].geometry &&
        results[0].geometry.location
      ) {
        const marker = new google.maps.Marker({
          map,
          position: results[0].geometry.location
        })
        
        google.maps.event.addListener(marker, "click", () => {
          infowindow.setContent(
            '<div class="map-window">' +
              '<h2>' + results[0].name + '</h2>' +
              '<p>' + results[0].formatted_address + '</p>' +
              '<a href="https://www.google.com/maps/search/?api=1&query=<%= @shop.address %>+<%= @shop.shop_name %>&query_place_id=' + results[0].place_id + '">Googleマップで見る</a>' +
            '</div>'
          );
          infowindow.open(map, marker);
        })
      }
    });
  }
</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
  src='https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API_KEY"] %>&callback=initMap&libraries=places&v=weekly'
  async defer
></script>
